//registry.npmjs.org/:_authToken=${NPM_TOKEN}

@boehringer-ingelheim:registry=https://registry.npmjs.org/

# Publish Configuration: https://docs.npmjs.com/cli/v11/commands/npm-publish#configuration
access=public
provenance=true
save-exact=true
